<ion-nav-bar class="bar bar-energized nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
    </ion-nav-back-button>
</ion-nav-bar>
<ion-side-menus>
      <ion-side-menu side="left" width="150">
        <ion-header-bar class="bar-energized">
          <h1 class="title">帮助中心</h1>
        </ion-header-bar>
        <ion-content>
          <ul class="list">
            <a class="item" menu-toggle="left" href="#/menu/tab/memos">问题列表</a>
            <a class="item" menu-toggle="left" href="#/menu/tab/my">个人中心</a>
          </ul>
        </ion-content>
      </ion-side-menu>
      <ion-side-menu-content>
        <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content>
</ion-side-menus>