<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.okek.jtbang" version="0.0.1">
  <name>交通帮</name>
  <description>
    交通帮 - 有问题 - 找交通帮
  </description>
  <author email="4074006@qq.com">
    Alex
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="10000"/>
  <preference name="loadUrlTimeoutValue" value="999999"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="Orientation" value="portrait" />
  <preference name="android-minSdkVersion" value="14"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>